<div class="header">
  <%= render "header" %>
</div>
<div class="home">
  <%= render "side_bar" %>
  <div class="home_right">
    <div class="home_new">
      <div class="page-heading">
        お薬登録ページ
      </div>
      <div class="drugs-sell-main">
        <div class="drug-sell-main" >
          <%= form_with(model: @drug, local: true, id: "new_drug") do |f|%>
          <div class="field_all">
            <%= render 'shared/error_message', model: f.object %>
            <div class="field">
              <%= f.label :drug_name, "薬剤名" %><span class="indispensable">必須</span><br />
              <%= f.text_field :drug_name %>
            </div>

            <div class="field">
              <%= f.label :hospital, "病院名" %><span class="indispensable">必須</span><br />
              <%= f.text_area :hospital, class: :form__text %>
            </div>

            <div class="field">
              <%= f.label :effect, "薬剤の効果" %><span class="indispensable">必須</span><br />
              <%= f.text_area :effect, class: :form__text %>
            </div>

            <div class="field">
              <%= f.label :day_id, "処方日" %><span class="indispensable">必須</span><br />
              <%= f.date_field :day_id %>
            </div>

            <div class="field">
              <div class='field-lavel' >
                <%= f.label :capa_id, "用量" %><i>(何日分)</i><span class="indispensable">必須</span><br />
              </div>
              <div class='field-input'>
                <%= f.collection_select(:capa_id, Capa.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
              </div>
            </div>

            

            <div class="field">
              <%= f.label :image, "薬剤の画像" %><br />
              <%= f.file_field :image %>
            </div>

            <div class="actions">
              <%= f.submit "登録する", id: "submit_btn", class: :form__btn  %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>