<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>ユーザー新規登録</h2>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
        <%= devise_error_messages!%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :名前%>
            <i>(フルネーム)</i>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :名前%>
            <i>(カタカナ)</i>
          </div>
          <div class='field-input'>
            <%= f.text_field :name_kana%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :メールアドレス%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :電話番号%>
            <i>(数字11桁)</i>
          </div>
          <div class='field-input'>
            <%= f.phone_field :phone_number%>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">生年月日</label>
          </div>
          <div class='input-birth-wrap'>
            <%= raw sprintf(
                        f.date_select(
                        :birthday,
                        class:'select-birth',
                        id:"birth-date",
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: 1930,
                        end_year: (Time.now.year - 5),
                        date_separator: '%s'),
                      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワード%>
            <i>(英数字6文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワード%>
            <i>(確認用)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :アレルギー%>
          </div>
          <div class='field-input'>
            <%= f.text_field :allergy%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "新規登録", class: 'btn'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
