<div class="header">
  <%= render "drugs/header" %>
</div>
<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2 class="edit-header">ユーザー編集</h2>
      <div class="edit-second-header">
        <%= link_to "マイページ", user_path(current_user), method: :get %>
      </div>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: current_user, local: true do |f|%>
        <%= render 'shared/error_message', model: f.object %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :name, "名前"%>
            <i>(フルネーム)</i>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, id:"name", placeholder:"例) 田中太朗", autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :name_kana, "名前" %>
            <i>(カタカナ)</i>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :name_kana, id:"name_kana", placeholder:"例) タナカタロウ" %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :gender, "性別" %>
            <span class="indispensable">必須</span>
          </div>
          <div class="gender">
            <%= f.label :man, "男性" %>
            <%= f.radio_button :gender, :man %>
            <%= f.label :woman, "女性" %>
            <%= f.radio_button :gender, :woman %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email, "メールアドレス" %>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :phone_number, "電話番号"%>
            <i>(数字11桁)</i>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.phone_field :phone_number, id:"phone_number", placeholder:"ハイフンなし"%>
          </div>
        </div>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">生年月日</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='input-birth-wrap'>
            <%= raw sprintf(
                        f.date_select(
                        :birthday,
                        class:'select-birth',
                        id:"birth-date",
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: 1930,
                        end_year: (Time.now.year - 5),
                        date_separator: '%s'),
                      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label' >
            <%= f.label :password, "パスワード"%>
            <i>(英数字6文字以上)</i>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :password_confirmation, "パスワード"%>
            <i>(確認用)</i>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :allergy, "アレルギー"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :allergy%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "更新", class: 'btn'%>
        </div>
      </div>
    <% end %>
  </div>
</div>